<div id='Game' style='display : none; flex:1;'>
   <img id='image' src='/Game/IMG/Sprites.svg' style='visibility:hidden'/>
   <canvas id = 'GScene'  style = 'z-index: 0; position: absolute; left: 0px;'></canvas>
   <canvas id = 'GScore' style = 'z-index: 1; position: absolute; left: 0px;'></canvas>
   <button id = 'GX' type='button' onclick='StopVar = true' style='z-index: 2; position: absolute; right: 0px; padding:15px 20px; background:rgb(255,0,0);'>X</button>
</div>