<!DOCTYPE html>
<html lang='en' style='height: 100%; width: 100%; margin: 0; font-family: Arial;'>
<head>
    <title>Game Maker</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!--libraries-->
    <script type='text/javascript' src='/scripts/node_modules/jquery/dist/jquery.min.js'></script>
</head>
<body style='height: 100%; width: 100%; margin: 0; font-family: Arial;'>
    <div style='height: 100%; width: 100%; display:flex; flex-direction:column;'>
        <%- include('game') -%>
    </div>
    <script>
        window.onload = function() {
            const arr = 
            [
                '/game/JS/Start.js', '/game/JS/Initiate.js', '/game/JS/Logic.js', '/game/JS/Draw.js', '/game/JS/Collision.js'
            ];
            const arr_l =arr.length;
            for(i = 0 ;i < arr_l ;i++){
                const element = document.createElement("script");
                element.src = arr[i];
                document.body.appendChild(element);
            }
        }
    </script>
</body>
</html>