<!DOCTYPE html>
<html lang='en' style='height: 100%; width: 100%; margin: 0; font-family: Arial;'>
<head>
    <title>Account actions</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body style='height: 100%; width: 100%; margin: 0; font-family: Arial;'>
    Go to <a href='/auth'>'localhost:8080/auth'</a> for the authentification page.<br>
    Go to <a href='/game'>'localhost:8080/game'</a> for the game page.
</body>
</html>